@font-face {
    font-family: 'GeorgiaPro-SemiBold';
    src: url('../fonts/GeorgiaPro-SemiBold.eot');
    src: url('../fonts/GeorgiaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GeorgiaPro-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeorgiaPro-Semibold';
    src: url('../fonts/GeorgiaPro-Semibold.svg#GeorgiaPro-Semibold') format('svg'),
         url('../fonts/GeorgiaPro-Semibold.ttf') format('truetype'),
         url('../fonts/GeorgiaPro-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.svg#OpenSans') format('svg'),
         url('../fonts/OpenSans.ttf') format('truetype'),
         url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  