body{
    overflow-x: hidden;
    font-family: 'Proxima-Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Proxima-Nova';
}
header {
    padding: 15px 0px;
}

nav ul {
    padding: 0px;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0px 20px;
}

nav ul li a {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 0px 0px;
}
.language-section ul {
    padding: 0px;
    margin: 0px;
}

.language-section ul li {
    display: inline-block;
    margin: 0px 10px;
    text-transform: uppercase;
    text-shadow: 0px 0px;
    font-size: 13px;
}

.language-section {
    border: 1px solid;
    text-align: center;
    padding: 9px 15px;
    border-radius: 3px;
    width: 80%;
    margin: 0px auto;
}
nav {
    margin-top: 9px;
}
nav ul li a:hover {
    text-decoration: none;
    color: red;
}

section.banner {
    background: url(../images/banner-bg.png);
    background-color: #fffc00;
    background-position: right;
    background-repeat: no-repeat;
    padding: 100px 0px;
    background-size: 519px;
}
input.area-select {
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 16px;
}
.banner-form {
    background: #fff;
    padding: 20px;
    padding-left: 60px;
}
.from-banner h1 {
    font-size: 30px;
}
.from-banner ul input,.from-banner ul select {
    width: 60%;
    border: 1px solid rgba(204, 204, 204, 0.48);
    padding: 7px 20px;
    border-radius: 2px;
    -webkit-appearance: none;
}
.from-banner ul {
    padding: 0px;
}
.from-banner li {
    list-style-type: none;
    margin: 15px 0px;
}
.col-md-6.banner-form {
    max-width: 40%;
    margin-left: 100px;
    padding: 50px;
    box-shadow: 6px 6px 20px rgba(51, 51, 51, 0.12);
}
span.search button {
    background: #fffc00;
    border: none;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 2px;
}
section.find-city .col-md-4 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
section.find-city h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 35px;
}
section.find-city {
    padding: 60px;
}
.col-md-4.col-lg-4.col-sm-4.col-xs-12.city-images {
    position: relative;
    overflow: hidden;
}
.col-md-4.col-lg-4.col-sm-4.col-xs-12.city-images p {
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
    width: 92%;
    padding: 2% 5%;
    background: rgba(0, 0, 0, 0.51);
    margin-bottom: 0px;
    font-weight: 600;
}

.carousel-wrap {
    margin: 10px auto;
    padding: 0 5%;
    width: 100%;
    position: relative;
}
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }
  .carousel-wrap img {
    height: 150px;
}
section.popular h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
section.popular {
    padding: 30px;
}
section.app {
    background: url("../images/app-bg.png");
    padding-top: 30px;
}
.app .app-mobile img {
    width: 500px;
}
.app .app-text h2 {
    color: #fff;
    font-size: 37px;
}
.app .app-text p {
    color: #fff;
}
.col-md-6.app-text {
    padding: 60px;
    padding-top: 80px;
}
.app-text img {
    width: 200px;
}
section.newsletter {
    background: #fffc00;
    padding-top: 70px;
    text-align: center;
}
section.newsletter ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.newsletter h3 {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 30px;
}
.newsletter h2 {
    font-size: 40px;
}
section.newsletter ul li input {
    padding: 6px 11px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #f8f7bd;
}

section.newsletter ul li button {
    background: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
}
.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #fffc00;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 0.8);
  position:fixed;
  left:0;
  top:0;
  z-index: 1000;
 }
 